/* Write your CSS code here. */
.main-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container {
  padding: 100px;
  border-radius: 10px;
  max-width: 40%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  text-align: center;
  color: #0f172a;
  font-family: Roboto;
}
.list-style {
  display: flex;
  list-style: none;
}
.emoji-sizing {
  height: 50px;
  margin: 30px;
  cursor: pointer;
}
